[Desktop Entry]
Type=Application
Name=Reelabel
Comment=Safely preview and rename local media files
Exec=reelabel
Icon=reelabel
Categories=AudioVideo;Utility;
Terminal=false
